
<div id="pop-ups" class="container bg-dark pops-up">
    <div class="container-wrapper">

        <div class="side-text left">Darüber hinaus kann ADA bei Bedarf praktisch unterstützen, z.B. durch: </div>

        <div class="round-popups">
            <div class="card seafoam-green round">

                <h3>Beratung und Begleitung der Durchführung von Datenanalysen oder bei Infrastrukturprojekten.</h3>

            </div>
            <div class="card purple">

                <h3>Vermittlung (und Betreuung) von Studierenden für Consulting-Projekte oder für Abschlussarbeiten.
                </h3>

            </div>
            <div class="card sunshine-yellow round">

                <h3>Durchführung von wissenschaftlicher Begleitforschung.</h3>

            </div>

            <div class="card deep-violet">

                <h3>Iterative Entwicklung von Software und Infrastruktur.</h3>

            </div>
        </div>
    </div>
</div>