{% import "macros/content.html" as content %}
<div class="fixed-replacement special-fix"></div>
<div id="special-fix" class="container bg-dark to-fix ">
    <div class="container-wrapper">
        <div class="special">
            <h1 class="big">Was unsere Arbeit ausmacht</h1>
            <div class="specials">
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/github.svg" />
                    <h2>Open Source Softwareanwendungen</h3>
                    <div class="text">
                        Wir entwickeln Softwareanwendungen, die auf Open Source Technologien basieren. So können Sie die Softwareanwendungen, die wir gemeinsam mit Ihnen entwickeln, auch nach Projektende weiter nutzen und anpassen. 
                    </div>
                </div>
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/check.svg" />
                    <h2>Beratung und Befähigung des öffentlichen Sektors</h3>
                    <div class="text">
                        Wir bringen unsere Expertise in die Entwicklung von Softwareanwendungen ein, beraten Sie bei der Umsetzung von datenbezogenen Projekten und befähigen Sie, die entwickelten Softwareanwendungen eigenständig zu nutzen und weiterzuentwickeln.
                    </div>
                </div>
                <!-- <div class="special-card">
                    <img src="{{ content::base_path() }}images/connect.svg" />
                    <h3>Sichere Infrastruktur</h3>
                    <div class="text">
                        Zum gemeinsamen Entwerfen und Testen von Lösungsprototypen bieten wir eine sichere und datenschutzgerechte Cloudumgebung an.
                    </div>
                </div>
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/sliders.svg" />
                    <h3>Forschungsnähe</h3>
                    <div class="text">
                        Ein großer Teil unseres Teams ist am Institut für Statistik der LMU angesiedelt und arbeitet täglich an datenbezogenen Forschungsfragen. Uns treibt das Bedürfnis an, unser erworbenes Wissen in die Praxis umzusetzen.

                    </div>
                </div> -->
            </div>
        </div>
    </div>
    </div>