{% import "macros/content.html" as content %}

<div class=" container bg-light">
  <div class="container-wrapper">
    <div class="home-symbols">

      <div class="element el1">
        <h1><span>Probleme mit Daten lösen</span></h1>
      </div>

      <div class="element el2">
        <img src="{{content::base_path()}}images/cloud.svg" alt="Symbol 1">
      </div>

      <div class="element el3">
        <h1><span>Berührungsängste mit Cloud-Computing abbauen</span></h1>
      </div>

      <div class="element el4">
        <img src="{{content::base_path()}}images/frage.svg" alt="Symbol 1">
      </div>

      <div class="element el5">
        <h1><span>In interdisziplinären Teams mit Data Scientists und Fachleuten zusammenarbeiten</span></h1>
      </div>

      <div class="element el6">
        <img src="{{content::base_path()}}images/wheel.svg" alt="Symbol 1">
      </div>

      <div class="element el8">
        <img src="{{content::base_path()}}images/arrows-up.svg">
      </div>

      <div class="element el7">
        <h1><span>Gemeinsam<br>Lernen</span></h1>
      </div>

    </div>
  </div>
</div>



