{% import "macros/content.html" as content %}
<div class="fixed-replacement special-fix"></div>
<div id="special-fix" class="container bg-dark to-fix ">
    <div class="container-wrapper">
        <div class="special">
            <h1 class="big">Was unsere Arbeit ausmacht</h1>
            <div class="specials">
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/folders.svg" />
                    <h3>Projektbezogenes Arbeiten</h3>
                    <div class="text">
                        In jedem Projekt entwickeln wir gemeinsam mit Ihnen eine maßgeschneiderte Lösung, die sich genau auf Ihre Fragestellung bezieht. Dabei können Sie ganz unterschiedliche Schwerpunkte setzen: Strategische Beratung, Weiterbildung und Kompetenzentwicklung, Application Development oder Evaluationsforschung.

                    </div>
                </div>
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/check.svg" />
                    <h3>Behördengerechter Datenschutz</h3>
                    <div class="text">
                        In unserer bisherigen Arbeit mit öffentlichen Behörden, haben wir Erfahrung mit verschiedensten Arten von sensiblen und personenbezogenen Daten gesammelt. Kommen Sie auf uns zu, um die Schutzbedürftigkeit Ihrer Daten zu besprechen.
                        
                    </div>
                </div>
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/connect.svg" />
                    <h3>Sichere Infrastruktur</h3>
                    <div class="text">
                        Zum gemeinsamen Entwerfen und Testen von Lösungsprototypen bieten wir eine sichere und datenschutzgerechte Cloudumgebung an.

                    </div>
                </div>
                <div class="special-card">
                    <img src="{{ content::base_path() }}images/sliders.svg" />
                    <h3>Forschungsnähe</h3>
                    <div class="text">
                        Ein großer Teil unseres Teams ist am Institut für Statistik der LMU angesiedelt und arbeitet täglich an datenbezogenen Forschungsfragen. Uns treibt das Bedürfnis an, unser erworbenes Wissen in die Praxis umzusetzen.

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>